<div class="row">
  <div class="col-lg-12">
    <h1><%= @ad.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    Publicado por <%= @ad.user.fullname %>, el <%= l @ad.published_date %>
  </div>
  <div class="col-lg-4 pull-right">
    <%= @ad.type.name unless @ad.type.nil? %> - <%= @ad.category.name unless @ad.category.nil? %>
  </div>
</div>

<br/><br/>

<div class="row">
  <div class="col-lg-8">
    <%= @ad.text %>
  </div>
  <div class="col-lg-4">
    <ul>
      <% @ad.pictures.each do |picture| %>
      <li>
        <%= picture.photo %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-lg-12">
    <h4>Comentarios</h4>
  </div>
</div>