<h2>Sign up</h2>

<div class="row">
	<div class="col-lg-6">
		<div class="well">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
				  <%= f.label :email, {class: 'col-lg-5 control-label'} %>
				  <div class="col-lg-7">
				  	<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
				  </div>
			  </div>

			  <div class="form-group">
			  	<%= f.label :password, {class: 'col-lg-5 control-label'} %>
			  	<div class="col-lg-7">
			  		<%= f.password_field :password, {class: 'form-control'} %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<%= f.label :password_confirmation, {class: 'col-lg-5 control-label'} %>
			  	<div class="col-lg-7">
			  		<%= f.password_field :password_confirmation, {class: 'form-control'} %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<div class="col-lg-3 pull-right">
				  	<%= f.submit "Registrarse", {class: 'btn btn-primary'} %>
			  	</div>
			  </div>
			<% end %>
		</div>
	</div>
</div>


<%= render "devise/shared/links" %>
