<div class="container sidebar-menu">

  <div >

    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to 'Mis anuncios', admin_ads_path %>
      </li>
      <li class="list-group-item">
        <%= link_to 'Mis datos', admin_my_account_path %>
      </li>
      <li class="list-group-item">
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'small-link' %> 
      </li>
    </ul>

  </div>

</div>