<h2>Forgot your password?</h2>

<div class="row">
	<div class="col-lg-6">
		<div class="well">

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
			  	<%= f.label :email, class: 'col-lg-3 control-label' %>
			  	<div class="col-lg-9">
			  		<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<div class="col-lg-6 pull-right">
			  		<%= f.submit "Envíenme nueva contraseña", class: 'btn btn-primary' %>
			  	</div>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
