// Place all the styles related to the admin/ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-ad-details {
  .row {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
  }
}