<h2>Sign in</h2>

<div class="row">
	<div class="col-lg-6">
		<div class="well">

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'} ) do |f| %>


			  <div class="form-group">
			  	<%= f.label :email, class: 'col-lg-3 control-label' %>
			  	<div class="col-lg-9">
			  		<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
			  	</div>
			  </div>

			  <div class="form-group">
			  	<%= f.label :password, class: 'col-lg-3 control-label' %>
			  	<div class="col-lg-9">
			  		<%= f.password_field :password, class: 'form-control' %>
			  	</div>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="form-group">
			    	<label class="checkbox col-lg-9 col-lg-offset-3">
			    		<%= f.check_box :remember_me %> Recordar mis datos
			    	</label>
			    </div>
			  <% end -%>

			  <div class="form-group">
			  	<div class="col-lg-3 pull-right">
			  		<%= f.submit "Iniciar sesión", class: 'btn btn-primary' %>
			  	</div>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<%= render "devise/shared/links" %>
