<%= form_for [:admin, ad], html: {class: "form-horizontal"} do |f| %>

<fieldset>

  <legend>Introduzca los datos del anuncio</legend>

  <div class="form-group">
    <div class="col-lg-3 col-lg-offset-2">
      <%= f.radio_button :side, 'Busco', {id: 'side_looking'} %> <label for="side_looking">Busco</label>
    </div>
    <div class="col-lg-3">
      <%= f.radio_button :side, 'Ofrezco', {id: 'side_offering'} %> <label for="side_offering">Ofrezco</label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, 'Título: ', {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= f.text_field :title, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :text, 'Texto: ', {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= f.text_area :text, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :type_id, 'Tipo: ', {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= f.collection_select :type_id, @types, :id, :name, {include_blank: 'Seleccione un tipo', selected: @selected_type}, {id: 'type_select', class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category_id, 'Categoría: ', {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= collection_select nil, :category_id, @categories, :id, :name, {prompt: 'Seleccione', selected: @selected_category}, {id: 'category_select', name: 'category_id', class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state_id, "Estado: ", {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= collection_select nil, :state_id, @states, :id, :name, {include_blank: 'Seleccione un estado', selected: @selected_state}, {id: 'state_select', class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city_id, "Ciudad: ", {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= collection_select nil, :city_id, @cities, :id, :name, {include_blank: 'Seleccione una ciudad', selected: @selected_city}, {id: 'city_select', name: 'city_id', class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, "Precio: ", {class: 'col-lg-2 control-label'} %>
    <div class="col-lg-10">
      <%= f.text_field :price, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <label class="checkbox col-lg-10 col-lg-offset-2">
      <%= f.check_box :is_new %> Es nuevo?
    </label>
  </div>

  <% if ad.new_record? %>
  <div class="form-group">
    <label class="checkbox col-lg-10 col-lg-offset-2">
      <%= check_box_tag :publish %> Publicar anuncio?
    </label>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-5 pull-right">
      <button id="cancelarButton" class="btn btn-default">Cancelar</button>
      <button type="submit" class="btn btn-primary">Aceptar</button>
    </div>
  </div>
</fieldset>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {

    $("#cancelarButton").click(function(event) {
      event.preventDefault();
      location.href = "<%= admin_ads_path %>";
    })

    $("#state_select").change(function () {
      $.ajax({
        url: "<%= admin_ads_update_cities_path %>",
        data: {
          state_id: $("#state_select").val()
        },
        dataType: 'script'
      });
    });

    $('#type_select').change(function() {
      $.ajax({
        url: "<%= admin_ads_update_categories_path %>",
        data: {
          type_id: $('#type_select').val()
        },
        dataType: 'script'
      });
    });
  });
</script>