<h2>Anuncios</h2>

<p>
  <%= button_to 'Agregar anuncio', new_admin_ad_path, method: :get, class: 'btn btn-primary' %>
</p>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Título</th>
    <th>Tipo</th>
    <th>Categoría</th>
    <th>Acción</th>
    <th>Ciudad</th>
    <th>Precio</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @ads.each do |ad| %>
      <tr>
        <td>
          <%= link_to ad.title, [:admin, ad] %>
        </td>
        <td>
          <%= ad.type.name unless ad.type.nil? %>
        </td>
        <td>
          <%= ad.category.name unless ad.category.nil? %>
        </td>
        <td>
          <%= ad.side %>
        </td>
        <td>
          <%= ad.city.name unless ad.city.nil? %>
        </td>
        <td>
          <%= number_to_currency ad.price %>
        </td>
        <td>
          <%= ad.status.name unless ad.status.nil? %>
        </td>
        <td>
          <div class="row">
            <div class="pull-left col-lg-6">
              <%= button_to 'Modificar', edit_admin_ad_path(ad), method: :get, class: 'btn btn-xs btn-default' %>
            </div>
            <div class="pull-left col-lg-6">
              <%= button_to 'Eliminar', [:admin, ad], method: :delete, data: {confirm: 'Estás seguro de eliminar el anuncio?'}, class: 'btn btn-xs btn-default' %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
