<div class="container admin-ad-details">
  <div class="row">
    <h3>Anuncio</h3>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4><%= @ad.title %></h4>
    </div>
    <div class="col-lg-4">
      Status: <span id="adStatus"><%= @ad.status.name unless @ad.status.nil? %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= @ad.type.name unless @ad.type.nil? %> - <%= @ad.category.name unless @ad.category.nil? %>
    </div>
    <div class="col-lg-6">
      <%= @ad.city.full_name unless @ad.city.nil? %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= @ad.side %>
    </div>
    <div class="col-lg-4">
      Precio: <%= number_to_currency @ad.price %>
    </div>
    <div class="col-lg-4">
      Es nuevo: <%= @ad.is_new ? 'Si' : 'No' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= @ad.text %>
    </div>
  </div>

  <p/>

  <div class="row">
    <button class="btn" id="editAdButton" data-link="<%= edit_admin_ad_path(@ad) %>">Editar</button>
    <% if can? :publish, @ad %>
      <button class="btn" id="publishAdButton" data-link="<%= publish_admin_ad_path(@ad) %>">Publicar</button>
    <% end %>
    <button class="btn btn-link" id="goListAdsButton" data-link="<%= admin_ads_path %>">Regresar al listado</button>
  </div>

</div>