<div class="row">
  <div class="col-lg-6">
    <h1>Lista de anuncios</h1>
  </div>
  <form class="form-horizontal">
    <div class="col-lg-6 search-box form-group">
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Escriba el texto a buscar">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary">Buscar</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-link btn-xs">Búsqueda avanzada</button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-lg-10">
    <% if @ads.count == 0 %>

        <h2>No hay anuncios publicados aún.</h2>
        Deseas <%= link_to 'publicar un anuncio', new_admin_ad_path %>?

    <% else %>
        <ul class="list-group ad-list">
          <% @ads.each do |ad| %>

            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-2">
                  <%= image_tag '/assets/noimage.png', size: "100x100", class: 'ad-image' %>
                </div>
                <div class="col-lg-10 ad-info">
                  <div class="row">
                    <div class="col-lg-8">
                      <h4 class="list-group-item-heading">
                        <%= link_to ad.title, show_ad_details_path(ad.title, ad.id) %>
                      </h4>
                    </div>
                    <div class="col-lg-4 pull-right ad-published-by">
                      Publicado por <%= link_to ad.user.email, root_path %>,<br/> el <%= l ad.published_date %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <%= truncate ad.text, length: 300, omission: '...' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <%= link_to ad.type.name, root_path %> <% if not ad.category.nil? %> - <%= link_to ad.category.name, root_path %> <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </li>

          <% end %>
        </ul>
    <% end %>
  </div>

  <div class="col-lg-2 sidebar-filters">
    <div class="row">
      <fieldset>
        <legend>Ver por tipos</legend>
        <ul>
          <% @types.each do |type| %>
          <li>
            <%= link_to type.name, root_path %>
          </li>
          <% end %>
          <li>
            <%= link_to 'Ver todos...', root_path %>
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <legend>Ver por categorías</legend>
        <ul>
          <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, root_path %>
          </li>
          <% end %>
          <li>
            <%= link_to 'Ver todas...', root_path %>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</div>