<h1>Seleccione la ciudad de la que desea ver anuncios:</h1>

<ul>
  <% @states.each do |state| %>
  <li>
    <%= state.name %>
    <ul>
      <% state.cities.each do |city| %>
      <li>
        <%= link_to city.name, set_city_path(city.name) %>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>