/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require fonts
 */

body {
  padding-top: 50px;
}

footer {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #a7b5ff;
  padding-top: 10px;
}

.main-container {
  margin-bottom: 30px;
}

.current-city {
  font-size: 0.9em;
  color: #999999;
}

.sidebar-menu {
  padding-top: 20px;
}

.current-user-logout {
  padding-top: 10px;
  color: #eeeeee;
}

.current-user-logout .small-link {
  padding: 1px;
  display: inline;
  border-bottom: 1px solid #cccccc;
}

.search-box {
  margin-top: 20px;
}