// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ad-list {
  li {
    margin-bottom: 10px;
  }

  img.ad-image {
    margin-left: 0px;
  }

  .ad-info {
    margin-left: -10px;
    padding-left: 0px;

    .ad-published-by {
      font-size: 0.8em;
      color: #333333;
    }
  }


}

.sidebar-filters {
  margin-top: 20px;

  ul {
    margin-left: -25px;
    li {
      list-style-type: none;
    }
  }
}