<li class="current-user-logout">
  <% if user_signed_in? %>
    <%= current_user.email %> | 
    <%= link_to 'Mi cuenta', admin_ads_path, class: 'small-link' %> |
    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'small-link' %> 
  <% else %>
    <%= link_to 'Registrarse', new_user_registration_path, class: 'small-link' %> |
    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'small-link' %>
  <% end %>
</li>
